/* div {
  border: solid red 1px;
}

span {
  border: solid orange 1px;
}

p {
  border: solid rgb(232, 114, 234) 1px;
}

ul {
  border: solid rgb(117, 223, 36) 1px;
}

li {
  border: solid rgb(206, 21, 107) 1px;
} */

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* COLORS */
  --main-bg-color: #242424;
  --main-color: rgba(255, 255, 255, 0.8);

  --link-color: #d4cab0;
  --link-hover-color: #f3da9a;

  --btn-bg-color: #009966;
  --input-border-color: #ccc;
  --input-bg-color: rgba(255, 255, 255, 0.6);

  /* END COLORS */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--main-color);
  background-color: var(--main-bg-color);
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}
/* LINKS */
a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}
/* HEADINGS */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.6em;
  line-height: 1.1;
}

/* Set a style for all buttons */
button {
  background-color: var(--btn-bg-color);
  color: var(--main-color);
  padding: 14px 20px;
  font-size: large;
  margin: 16px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 9px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.link-button {
  color: var(--link-color);
  border-radius: 0;
  border: 0px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

.link-button:hover {
  color: var(--link-hover-color);
}

/* Full-width inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: var(--main-color);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  border-radius: 9px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* min-width: 100%; */
}

.row-container-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  min-width: 100%;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width-90-perc {
  max-width: 90%;
}

.width-100-perc {
  width: 100%;
}

/* MENU ITEMS */

/* 
@media screen and (max-width: 560px) {
  #user-email{
   display: none;
 } */

/* SPLASH */

.splash-frame {
  margin-top: 5vh;
  min-height: 140px;
  width: auto;
}

.img-frame {
  min-height: 100px;
  width: auto;
}

.img-frame img {
  margin: 5px;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

/* LOGIN, REGISTER */

.login-form {
  max-width: 300px;
}

.login-container {
  padding: 16px;
}
