/* div {
  border: solid red 1px;
}

span {
  border: solid orange 1px;
} */

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #d4cab0;
  text-decoration: inherit;
}
a:hover {
  color: #f3da9a;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
}

/* 90vh Where does this come from? */

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  font-size: large;
  margin: 16px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 9px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.link-button {
  color: #d4cab0;
  border-radius: 0;
  border: 0px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

.link-button:hover {
  color: #f3da9a;
}

/* Full-width inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 9px;
}
